fastapi
uvicorn
typing
python-multipart
opencv-contrib-python-headless
aiofiles
transformers
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.1.1+cpu
torchvision==0.16.1+cpu
ultralytics[cpu]